:root {
    --purple: #80558C;
    --white: #FFF;
    --grey: #7C7C7C;

    --text-size: 18px;
    --h1-size: 36px;
    --h2-size: 28px;
    --h3-size: 26px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.flex-ctn-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-ctn-column {
    display: flex;
    flex-direction: column;
}
.justify-space-between {
    justify-content: space-between;
}
h3 {
    font-size: var(--h3-size);
    color: var(--purple);
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

p {
    font-size: var(--text-size);
    text-align: justify;
}
@media (max-width: 600px){
    p {
    font-size: 16px;
    }
    h3 {
        font-size: 20px;
    }
    h2 {
        font-size: 24px;
    }
    h1 {
        font-size: 28px;
    }
}
section {
    padding: 10px;
}
.purple-bg {
    background: var(--purple);
}
.white-bg {
    background: var(--white);
}
/* navbar styling */
header {
    padding: 20px 10px;
}
.navbar {
    list-style: none;
    gap: 20px;
}        
.link-underline-effect {
    color: var(--grey);
    text-decoration: none;
    font-size: var(--text-size);
    letter-spacing: 0.5px;
    position: relative;
}
.link-underline-effect:hover, .link-underline-effect:focus {
    color: var(--purple);
}
.link-underline-effect:focus{
    outline: solid 1px var(--purple);
}

.link-underline-effect::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--purple);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease-in-out;
}
.link-underline-effect:hover::after, .link-underline-effect:focus::after {
    transform: scaleX(1);
}
/* hero styling */
.hero {
    height: 100vh;
    background: url('./images/hero-bg.png');
    background-size: cover;
    background-position: right;
    background-color: #222;
    color: var(--white);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero2 {
    height: 100vh;
    background: url('./images/elephant.png');
    background-size: cover;
    background-position: right;
    background-color: #222;
    color: var(--white);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.wrapper {
    max-width: 800px;
}
.hero-h1{
    font-size: var(--h1-size);
}
.hero-h2{
    font-size: var(--h2-size);
    margin: 15px 0 0 0;
}
.link-fill-effect {
    text-decoration: none;
    color: var(--white);
    font-size: var(--text-size);
    border: solid 3px var(--white);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 30px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    z-index: 0;
}
.link-fill-effect::after{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: var(--purple);
    overflow: hidden;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 200ms ease-in-out;
    z-index: -1;
}
.link-fill-effect:hover::after, .link-fill-effect:focus::after{
    transform: scaleX(1);
}
.link-fill-effect:focus{
    outline: solid 1px var(--purple);
}
/* contact us styling */
.contact-us {
    background: #f8f4e5;
    padding: 50px 100px;
    border: 2px solid black;
    box-shadow: 15px 15px 1px var(--purple), 15px 15px 1px 2px black;
  }
  input {
    display: block;
    width: 100%;
    font-size: 14pt;
    line-height: 28pt;
    margin-bottom: 28pt;
    border: none;
    border-bottom: 5px solid black;
    background: #f8f4e5;
    min-width: 250px;
    padding-left: 5px;
    outline: none;
    color: black;
  }
  .artstyle {
      font-size: 14pt;
      color: rgb(123, 117, 117);
  }
  #subject {
      font-size: 13pt;
      color: rgb(123, 117, 117); 
      height: 100px;
  }
  #art {
      display: block;
      margin: 0 auto;
      line-height: 28pt;
      padding: 0 20px;
      background: #ffa580;
      letter-spacing: 2px;
      transition: 0.2s all ease-in-out;
      outline: none;
      border: 1px solid black;
      box-shadow: 3px 3px 1px var(--purple), 3px 3px 1px 1px black;
  }
  input:focus {
    border-bottom: 5px solid #ffa580;
  }
  .form-button {
    display: block;
    margin: 0 auto;
    line-height: 28pt;
    padding: 0 20px;
    background: #ffa580;
    letter-spacing: 2px;
    transition: 0.2s all ease-in-out;
    outline: none;
    border: 1px solid black;
    box-shadow: 3px 3px 1px var(--purple), 3px 3px 1px 1px black;
  }
  .form-button:hover {
    background: black;
    color: white;
    border: 1px solid black;
  }
/* about-us-styling */
.about-us-ctn {
    justify-content: center;
    gap: 40px;
}
.about-us-message {
    max-width: 700px;
}
.about-us-img {
    max-width: 400px;
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 0, 0.4);
}
@media all and (max-width: 600px){
    .about-us-img {
        display: none;
    }
}
/* portfolio styling */
.portfolio h3 {
    color: var(--white)
}
.portfolio p {
    max-width: 800px;
    margin: 10px auto;
    text-align: center;
    color: var(--white)
}
.image-carousel {
    max-width: 500px;
    margin: 20px auto;
    box-shadow: 2px 2px 3px 3px rgb(0, 0, 0, 0.4);
    padding: 5px;
}
.images {
    width: 500px;
    height: 500px;
    width: calc(500px - 10px);
    height: calc(500px - 10px);
}
.slides {
    width: 100%;
    height: 100%;
    position: relative;
    list-style: none;
}
.slide {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: 0;
    transition: opacity 300ms ease-in-out;
}
.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.slide[data-active-slide]{
    opacity: 100%;
    z-index: 1
}
.carousel-navigation {
    flex-wrap: nowrap;
    justify-content: space-between;
}
.previous-slide, .next-slide {
    background: none;
    border: none;
    font-size: 65px;
    color: var(--grey);
    outline: 1px solid transparent;
    padding: 0;
    cursor: pointer;
}
.slide-indicators {
    flex-wrap: nowrap;
    gap: 5px;
}
.slide-indicator {
    padding: 4px;
    border: none;
    border-radius: 50%;
    background: var(--grey);
    cursor: pointer;
    outline: 1px solid transparent
}
.slide-indicator[data-active-indicator]{
    background: var(--purple);
}
.previous-slide:focus, .next-slide:focus, .slide-indicator:focus {
    outline: 1px solid var(--purple);
    color: var(--purple)
}
.previous-slide:hover, .next-slide:hover {
    color: var(--purple);
}