:root {
    --purple: #80558C;
    --white: #FFF;
    --grey: #7C7C7C;

    --text-size: 18px;
    --h1-size: 36px;
    --h2-size: 28px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.flex-ctn-row {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.flex-ctn-column {
    display: flex;
    flex-direction: column;
}
.justify-space-between {
    justify-content: space-between;
}

/* navbar styling */
header {
    padding: 20px 10px;
}

.navbar {
    list-style: none;
    gap: 20px;
}        
.link-underline-effect {
    color: var(--grey);
    text-decoration: none;
    font-size: var(--text-size);
    letter-spacing: 0.5px;
    position: relative;
}
.link-underline-effect:hover, .link-underline-effect:focus {
    color: var(--purple);
}
.link-underline-effect:focus{
    outline: solid 1px var(--purple);
}

.link-underline-effect::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--purple);
    transform: scaleX(0);
    transform-origin: left;
    transition: all 300ms ease-in-out;
}
.link-underline-effect:hover::after, .link-underline-effect:focus::after {
    transform: scaleX(1);
}
/* hero styling */
.hero {
    height: 100vh;
    border: solid 1px black;
    background: url('./images/hero-bg.png');
    background-size: cover;
    background-position: right;
    background-color: #222;
    color: var(--white);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.hero .wrapper {
    max-width: 800px;
}
.hero-h1{
    font-size: var(--h1-size);
}
.hero-h2{
    font-size: var(--h2-size);
    margin: 10px 0 30px 0;
}
.link-fill-effect {
    text-decoration: none;
    color: var(--white);
    font-size: var(--text-size);
    border: solid 3px var(--white);
    border-radius: 30px;
    padding: 10px 20px;
    margin: 30px;
}
